# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DefenderOfDreams2.iml
# Datasource local storage ignored files
/../../../../../../:\DoF2\DefenderOfDreams2\.idea\.idea.DefenderOfDreams2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
